<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://cdn.clouddeep.cn/amazeui/1.0.1/css/amazeui.min.css">
    <title>新建仓库</title>
</head>
<body>  
<style>
body,input,legend{
  background:var(--vscode-editor-background);
  color:var(--vscode-editor-foreground);
}
.am-form{
  background:var(--vscode-editor-background);
}
</style>      
    <form class="am-form" id="reopInfo">
      <fieldset>
        <legend>新建仓库</legend>

        <div class="am-form-group">
          <label for="doc-ipt-email-1">仓库名称<i>*</i></label>
          <input type="text" name="name" class="" id="reop-name" placeholder="输入仓库名称">
        </div>

        <div class="am-form-group">
          <label for="doc-ipt-email-1">仓库描述</label>
          <input type="text" name="description" class="" id="reop-desc" placeholder="输入仓库描述">
        </div>

        <div class="am-form-group">
          <label for="doc-select-1">允许提Issue与否</label>
          <select name="has_issues">
            <option value="true">提供Issue</option>
            <option value="false">不提供Issue</option>                
          </select>
          <span class="am-form-caret"></span>
        </div>

        <div class="am-form-group">
          <label for="doc-select-1">提供Wiki与否</label>
          <select name="has_wiki">
            <option value="true">提供Wiki</option>
            <option value="false">不提供Wiki</option>                
          </select>
          <span class="am-form-caret"></span>
        </div>
        <div class="am-form-group">
          <label for="doc-select-1">仓库私有</label>
          <select name="private">
          <option value="false">仓库私有</option>
            <option value="true">仓库公开</option>                                
          </select>
          <span class="am-form-caret"></span>
        </div>
        
      </fieldset>
    </form>
    <p><button onclick="sb()" class="am-btn am-btn-default sb">创建</button></p>
    <script>
        var vscode = acquireVsCodeApi();
        function sb(){ 
          const data = undefined;
          if(document.getElementById("reop-name").value){
            var d =  serializeForm("reopInfo");             
            data = {category:'person',data:d}          
            
          }else{
            data = {category:'erroy',data:"【仓库名称】必须填写！"} 
          }
          vscode.postMessage(data);
          
        }
        //获取指定form中的所有的<input>对象 
        function getElements(formId) { 
            var form = document.getElementById(formId); 
            var elements = new Array(); 
            var tagElements = form.getElementsByTagName('input'); 
            for (var j = 0; j < tagElements.length; j++){ 
                elements.push(tagElements[j]); 
            } 
            var tagElements = form.getElementsByTagName('select'); 
            for (var j = 0; j < tagElements.length; j++){ 
                elements.push(tagElements[j]); 
            } 
            var tagElements = form.getElementsByTagName('textarea'); 
            for (var j = 0; j < tagElements.length; j++){ 
                elements.push(tagElements[j]); 
            }
            return elements; 
        } 
        //组合URL 
        function serializeElement(element) { 
            var method = element.tagName.toLowerCase(); 
            var parameter; 
            if(method == 'select'){
                parameter = [element.name, element.value]; 
            }
            switch (element.type.toLowerCase()) { 
                case 'submit': 
                case 'hidden': 
                case 'password': 
                case 'text':
                case 'date':
                case 'textarea': 
                parameter = [element.name, element.value];
                break;
                case 'checkbox': 
                case 'radio': 
                if (element.checked){
                    parameter = [element.name, element.value]; 
                }
                break;    
            } 
            if (parameter) { 
                var key = encodeURIComponent(parameter[0]); 
                if (key.length == 0) 
                return; 
                if (parameter[1].constructor != Array) 
                parameter[1] = [parameter[1]]; 
                var values = parameter[1]; 
                var results = []; 
                for (var i = 0; i < values.length; i++) {                     
                    results.push(key + '=' + encodeURIComponent(values[i])); 
                } 
                return results.join('&'); 
            } 
        } 
        //调用方法  
        function serializeForm(formId) { 
            var elements = getElements(formId); 
            var queryComponents = new Array(); 
            for (var i = 0; i < elements.length; i++) { 
                var queryComponent = serializeElement(elements[i]); 
                if (queryComponent) {
                queryComponents.push(queryComponent); 
                } 
            } 
            return queryComponents.join('&'); 
        } 
    </script>
    <style>
        .sb{
            margin-left: 20px;
        }
        i{
          color:red;
        }
    
    </style>

</body>
</html>